version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    container_name: app
    restart: unless-stopped
    env_file: .env
    ports:
      - "$APP_PORT:$APP_PORT"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    env_file: .env
    ports:
      - "$DB_PORT:$DB_PORT"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: